.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

.content {
  background: #FFF;
  height: 100vh;
  width: 100vw; }

form input {
  background: none;
  border: none;
  color: #404040;
  font-size: 25px;
  font-weight: 500; }

form input::-webkit-input-placeholder {
  color: #404040;
  font-size: 25px;
  font-weight: 500; }

form input::-moz-placeholder {
  color: #404040;
  font-size: 25px; }

form input:-ms-input-placeholder {
  color: #404040;
  font-size: 25px; }

form input:-moz-placeholder {
  color: #404040;
  font-size: 25px; }

.header {
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.line {
  height: 1px;
  width: 85%;
  background: #F1F1F1;
  margin: -8px auto 0 auto; }

#desc-input {
  font-size: 36px;
  width: 100%;
  height: 20vh;
  padding: 0 30px;
  margin-top: 3.5vh;
  color: #404040;
  resize: none;
  border: none; }

#desc-input::-webkit-input-placeholder {
  color: #F0F0F0;
  font-size: 36px; }

#desc-input::-moz-placeholder {
  color: #F0F0F0;
  font-size: 36px; }

#desc-input:-ms-input-placeholder {
  color: #F0F0F0;
  font-size: 36px; }

#desc-input:-moz-placeholder {
  color: #F0F0F0;
  font-size: 36px; }

.footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px; }

#type-btn {
  height: 35px;
  width: 75px;
  border-radius: 200px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  text-align: center; }

#date-btn {
  height: 35px;
  background: #FFF;
  width: 130px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Roboto"; }

#add-btn {
  width: 85px;
  height: 35px;
  background: #FCB8B8;
  border-radius: 200px;
  color: #FFF;
  font-size: 18px;
  -webkit-box-shadow: 0px 6px 11px rgba(252, 184, 184, 0.3);
          box-shadow: 0px 6px 11px rgba(252, 184, 184, 0.3);
  font-weight: 300; }
